.Rhistory
.RData
expression_matrix.csv
filtered_data_mpnst.tsv
filtered_data_pn.tsv
gene_expression_Collagen_I.png
gene_expression_Collagen_II.png
gene_expression_Collagen_III.png
gene_expression_Collagen_IV.png
gene_expression_Collagen_IX.png
gene_expression_Collagen_V.png
gene_expression_Collagen_VI.png
gene_expression_Collagen_VII.png
gene_expression_Collagen_VIII.png
gene_expression_Collagen_X.png
gene_expression_Collagen_XI.png
gene_expression_Collagen_XII.png
gene_expression_Collagen_XIII.png
gene_expression_Collagen_XIV.png
gene_expression_Collagen_XIX.png
gene_expression_Collagen_XV.png
gene_expression_Collagen_XVI.png
gene_expression_Collagen_XVII.png
gene_expression_Collagen_XVIII.png
gene_expression_Collagen_XX.png
gene_expression_Collagen_XXI.png
gene_expression_Collagen_XXII.png
gene_expression_Collagen_XXIII.png
gene_expression_Collagen_XXIV.png
gene_expression_Collagen_XXV.png
gene_expression_Collagen_XXVI.png
gene_expression_Collagen_XXVII.png
gene_expression_Collagen_XXVIII.png
gene_expression_glutamine_to_proline.png
gene_expression_proline_to_glutamine.png
gene_expression_urea_cycle.png
gene_expression.zip
salmon.merged.gene_tpm_jh_batch1.tsv
salmon.merged.gene_tpm_wu_batch1_additional.tsv
salmon.merged.gene_tpm_wu_batch1.tsv
salmon.merged.gene_tpm_wu_batch2.tsv
Simple_sample_map_10062023.csv
summarized_experiment.rds
.Rproj.user/89925F39/rmd-outputs
.Rproj.user/89925F39/saved_source_markers
.Rproj.user/89925F39/pcs/debug-breakpoints.pper
.Rproj.user/89925F39/pcs/files-pane.pper
.Rproj.user/89925F39/pcs/source-pane.pper
.Rproj.user/89925F39/pcs/windowlayoutstate.pper
.Rproj.user/89925F39/pcs/workbench-pane.pper
.Rproj.user/89925F39/sources/prop/0D702A68
.Rproj.user/89925F39/sources/prop/0E5DC54E
.Rproj.user/89925F39/sources/prop/5DDF88C6
.Rproj.user/89925F39/sources/prop/0010E800
.Rproj.user/89925F39/sources/prop/202EA948
.Rproj.user/89925F39/sources/prop/384EC751
.Rproj.user/89925F39/sources/prop/865A17D6
.Rproj.user/89925F39/sources/prop/36646ABF
.Rproj.user/89925F39/sources/prop/AF2B7ED5
.Rproj.user/89925F39/sources/prop/B7702314
.Rproj.user/89925F39/sources/prop/C669FEEB
.Rproj.user/89925F39/sources/prop/INDEX
.Rproj.user/89925F39/sources/session-951a4ed6/0C6559AC-contents
.Rproj.user/89925F39/sources/session-951a4ed6/0DF6E23F-contents
.Rproj.user/89925F39/sources/session-951a4ed6/00F5613F-contents
.Rproj.user/89925F39/sources/session-951a4ed6/1ABB922B-contents
.Rproj.user/89925F39/sources/session-951a4ed6/1B075343-contents
.Rproj.user/89925F39/sources/session-951a4ed6/1F2812FF-contents
.Rproj.user/89925F39/sources/session-951a4ed6/3A17FE46-contents
.Rproj.user/89925F39/sources/session-951a4ed6/4A70BAE6-contents
.Rproj.user/89925F39/sources/session-951a4ed6/4E07B8B6-contents
.Rproj.user/89925F39/sources/session-951a4ed6/6D9405C1-contents
.Rproj.user/89925F39/sources/session-951a4ed6/6E7A9D30
.Rproj.user/89925F39/sources/session-951a4ed6/6E7A9D30-contents
.Rproj.user/89925F39/sources/session-951a4ed6/6F0AC683
.Rproj.user/89925F39/sources/session-951a4ed6/6F0AC683-contents
.Rproj.user/89925F39/sources/session-951a4ed6/7A4DFE7E-contents
.Rproj.user/89925F39/sources/session-951a4ed6/7D1469F2-contents
.Rproj.user/89925F39/sources/session-951a4ed6/7D368419-contents
.Rproj.user/89925F39/sources/session-951a4ed6/7FCDC96F-contents
.Rproj.user/89925F39/sources/session-951a4ed6/8C7D5700-contents
.Rproj.user/89925F39/sources/session-951a4ed6/9FE068E0-contents
.Rproj.user/89925F39/sources/session-951a4ed6/9FF50081-contents
.Rproj.user/89925F39/sources/session-951a4ed6/54EC798D-contents
.Rproj.user/89925F39/sources/session-951a4ed6/66CC08BF-contents
.Rproj.user/89925F39/sources/session-951a4ed6/78D6A7C0-contents
.Rproj.user/89925F39/sources/session-951a4ed6/088DB921-contents
.Rproj.user/89925F39/sources/session-951a4ed6/92ADDB0D-contents
.Rproj.user/89925F39/sources/session-951a4ed6/241B40BC-contents
.Rproj.user/89925F39/sources/session-951a4ed6/245EF218-contents
.Rproj.user/89925F39/sources/session-951a4ed6/386B03C4-contents
.Rproj.user/89925F39/sources/session-951a4ed6/639E09A4-contents
.Rproj.user/89925F39/sources/session-951a4ed6/3905AB8C-contents
.Rproj.user/89925F39/sources/session-951a4ed6/6232BD66
.Rproj.user/89925F39/sources/session-951a4ed6/6232BD66-contents
.Rproj.user/89925F39/sources/session-951a4ed6/8827E681-contents
.Rproj.user/89925F39/sources/session-951a4ed6/43597DD6
.Rproj.user/89925F39/sources/session-951a4ed6/43597DD6-contents
.Rproj.user/89925F39/sources/session-951a4ed6/63151EB5-contents
.Rproj.user/89925F39/sources/session-951a4ed6/354565B9-contents
.Rproj.user/89925F39/sources/session-951a4ed6/655827CE-contents
.Rproj.user/89925F39/sources/session-951a4ed6/789877FB-contents
.Rproj.user/89925F39/sources/session-951a4ed6/1161598B-contents
.Rproj.user/89925F39/sources/session-951a4ed6/1810593B-contents
.Rproj.user/89925F39/sources/session-951a4ed6/6131731B-contents
.Rproj.user/89925F39/sources/session-951a4ed6/8682485F-contents
.Rproj.user/89925F39/sources/session-951a4ed6/A317AC6B-contents
.Rproj.user/89925F39/sources/session-951a4ed6/AC1337D5-contents
.Rproj.user/89925F39/sources/session-951a4ed6/AF602F96-contents
.Rproj.user/89925F39/sources/session-951a4ed6/B97529A2-contents
.Rproj.user/89925F39/sources/session-951a4ed6/BA22A56D-contents
.Rproj.user/89925F39/sources/session-951a4ed6/BC7C7230-contents
.Rproj.user/89925F39/sources/session-951a4ed6/C04DA31E-contents
.Rproj.user/89925F39/sources/session-951a4ed6/CC1DBF1F-contents
.Rproj.user/89925F39/sources/session-951a4ed6/CE382225-contents
.Rproj.user/89925F39/sources/session-951a4ed6/DB3E9791-contents
.Rproj.user/89925F39/sources/session-951a4ed6/DD03FCE5-contents
.Rproj.user/89925F39/sources/session-951a4ed6/E5A2CC27-contents
.Rproj.user/89925F39/sources/session-951a4ed6/E840C3AB-contents
.Rproj.user/89925F39/sources/session-951a4ed6/EDE8A5C5-contents
.Rproj.user/89925F39/sources/session-951a4ed6/EE29BDDE-contents
.Rproj.user/89925F39/sources/session-951a4ed6/FA0C2B57-contents
.Rproj.user/89925F39/sources/session-951a4ed6/FFF57220-contents
.Rproj.user/89925F39/sources/session-951a4ed6/lock_file
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/shared/notebooks/paths
Tests/Analyze.R
Tests/COL6A1_expression_boxplot.png
Tests/COL6A1_expression_comparison.png
Tests/COL6A1_expression_plot.png
Tests/COL6A1_median_expression_plot.png
Tests/Createsumexperiment.R
Tests/CreateSummExp.R
Tests/filtered_combined_data.tsv
Tests/filtered_data.tsv
Tests/gene_expression_.png
Tests/gene_expression_plot.png
Tests/gene_expression_set1.png
Tests/gene_expression_set2.png
Tests/merged_data.tsv
Tests/metadata_info.tsv
Tests/NF.Rproj
Tests/Plot (2).R
Tests/Plot Glutamine to Proline (Copy).R
Tests/Plot Glutamine to Proline.R
Tests/Plot Urea Cycle.R
Tests/Plot.R
Tests/plot2.R
Tests/selected_genes_expression_boxplot.png
Tests/selected_genes_expression_comparison (Copy).png
Tests/selected_genes_expression_comparison_boxplot.png
Tests/selected_genes_expression_comparison.png
Tests/Simple_sample_map_10062023.xlsx
.Rproj.user/89925F39/sources/per/t/6E7A9D30
.Rproj.user/89925F39/sources/per/t/6E7A9D30-contents
.Rproj.user/89925F39/sources/per/t/6F0AC683
.Rproj.user/89925F39/sources/per/t/6F0AC683-contents
.Rproj.user/89925F39/sources/per/t/6232BD66
.Rproj.user/89925F39/sources/per/t/6232BD66-contents
.Rproj.user/89925F39/sources/per/t/43597DD6
.Rproj.user/89925F39/sources/per/t/43597DD6-contents
